body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #18202b;
}

h1 {
    color: #f1ecec;
}

.hotels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-card {
    width: 50%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #eadede92;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.hotel-card h2 {
    color: #2c3e50;
}

p {
    margin: 5px 0;
}

a {
    display: block;  /* Ensures it's centered */
    width: 200px;  /* Adjust width */
    padding: 10px 20px;  /* Adjust padding */
    font-size: 16px;  /* Reduce font size */
    background-color: rgba(64, 69, 68, 0.833);
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 20px auto;  /* Centers the button */
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color:  #eadede92;
    color: #18202b;
}

.book-hotel-btn {
    background-color: #0070ba; /* PayPal blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.book-hotel-btn:hover {
    background-color: #054678; /* Darker blue on hover */
}
